<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>
<script src="https://kit.fontawesome.com/94b31d7673.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

<body>
    {{>navbar}}

    <h1>register your complaint here</h1>
    <form action="/register" method="get">
        <button class="btn btn-primary m-1" type="submit" name="button">Register Complaint Here</button>
    </form>

    {{!-- <h1>your complaints</h1> --}}

    <form action="/client" method="get">
        <button class="btn btn-primary m-1" type="submit" name="button">Your Complaints</button>
    </form>

    <table class="table table-bordered">
        <thead class="table-success">
            <tr>
                {{!-- <th scope="col">s.no</th> --}}
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Branch</th>
                <th scope="col">Query</th>
                <th scope="col">ComputerIP</th>
                <th scope="col">Other</th>
                <th scope="col">Note</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each complaints}}
            <tr>
                {{!-- <th scope="row">{{sum @index 1}}</th> --}}
                <td>{{Firstname}}</td>
                <td>{{Lastname}}</td>
                <td>{{Email}}</td>
                <td>{{Phone}}</td>
                <td>{{Branch}}</td>
                <td>{{Query}}</td>
                <td>{{Computer}}</td>
                <td>{{OtherQuery}}</td>
                <td>{{Note}}</td>
                <td>{{Date}}</td>
                <td>
                    <a href="" class="btn border-shadow update">
                        <button class="btn btn-primary">send</button>
                    </a>

                </td>

            </tr>
            {{/each}}

        </tbody>
    </table>

</body>

</html>